.tab-content {
    padding:0;
}
.table {
    margin-bottom: 0;
}
.dataTables_filter{
    float:left;
    padding-right:10px;
}
.dataTables_wrapper .row{
    background-color: #EFF3F8;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.dataTables_wrapper .row-space{
    height:50px;
}
.dataTables_filter input[type=text], .dataTables_filter input[type=search] {
    width: 86px;
}
#form-field-select-1{
    height:28px;
    line-height:28px;
    width:100px;
}
.sidebar .nav-list li.active > a:after {
    display: block;
    content: "";
    position: absolute!important;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
    border-right-color: #2b7dbc;
}
.sidebar .nav-list > li .submenu > li > a.activeInner {
    color: #4b88b7;
}
.nav-list > li .submenu > li > a.activeInner > .menu-icon {
    display: inline-block;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}  
