<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.zhongying.crm.mapper.WsgoodspriceMapper" >

    <select id="goodsAppearInShop" parameterType="java.util.map" resultMap="com.zhongying.crm.model.GoodsAppearInShopVO">
        SELECT
        wp.goodsId,
        g.goodsName,
        wp.shopId,
        s.shopName,
        ROUND(AVG(wp.price)) AS priceAvg,
        MAX(wp.price) AS priceMax,
        MIN(wp.price) AS priceMin,
        (SELECT COUNT(*) FROM ws_goodsprice wp1 WHERE  wp1.shopId = wp.shopId AND wp1.goodsId = 1)/
        (SELECT COUNT(DISTINCT wp2.createtime) FROM ws_goodsprice wp2 WHERE wp2.shopId = wp.shopId) AS goodsAppearPercent
        FROM ws_goodsprice wp
        LEFT JOIN ws_goods g ON g.id = wp.goodsId
        LEFT JOIN ws_shop s ON s.id = wp.shopId
        WHERE wp.goodsId = #{goodsId}
        GROUP BY wp.shopId
        ORDER BY wp.shopId
    </select>

</mapper>